<section class="section py-3">
    <div class="container-fluid">
        <div class="my-3">
            <h3 class="h5 fw-medium">Wishlist ({{prodcuts().length}} items)</h3>
        </div>
        @if(placholderLoading()){
        <app-placholder-loading [classInput]="'col-6 col-sm-6 col-md-3 col-lg-2'" [numberBoxes]="12" [styleImage]="'min-height: 200px'" />
        }
        @else {
        <div class="row g-3">
            @for (product of prodcuts(); track product.id) {
            <div class=" col-6 col-sm-6 col-md-3 col-lg-2 ">
               <app-product-grid [product]="product" [styleImage]="'min-height:200px'" [inFavarite]="true" (productRemoved)="getAllProductsFavarite()"/>
            </div>
            }
            @empty {
            <h3 class="my-4 h5 text-muted fw-medium">No item was been added yet.</h3>
            }
        </div>
        }
    </div>
</section>
